.counter{
    background-color: black;
    height: 200px;
    border-color: aqua;
}
.uno{
    font-size: 60px;
    color: white;
}
.dos{
    font-size: 60px;
    color: white;
}
.tres{
    font-size: 60px;
    color: white;
}
.cuatro{
    font-size: 60px;
    color: white;
}
.cinco{
    font-size: 60px;
    color: white;
}
.seis{
    font-size: 60px;
    color: white;
}   
.clock{
    color: white;
    font-size: 60px;
    
}